body {
    background-color: #121212;
    color: #ffffff; /* Text color */
}

.container {
    background-color: #1e1e1e;
    color: #ffffff; /* Text color */
    border: 1px solid #343a40; /* Border color */
}

.form-group label {
    color: #ffffff; /* Label text color */
}

.form-control {
    background-color: #343a40; /* Input background color */
    color: #ffffff; /* Input text color */
    border-color: #343a40; /* Input border color */
}

.form-control:focus {
    background-color: #454d55; /* Focused input background color */
    color: #ffffff; /* Focused input text color */
    border-color: #343a40; /* Focused input border color */
}

.btn-primary {
    background-color: #007bff;
    color: #ffffff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

h1, h2 {
    color: #ffffff;
}
